.clock {
  font-size: 70px;
  font-weight: bold;
  text-align: center;
  margin-top: 200px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: rgba(101, 100, 100, 0.66);
}
